/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Signika+Negative:wght@300..700&family=Zain:wght@200;300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
/*Tailwind Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-horizontal {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(100%);
    }
}

.moving-element {
    animation: move-horizontal 2s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(4.5px);
        animation-timing-function: ease-out;
    }
}

.bouncing-element {
    animation: bounce 1.5s infinite;
}

@keyframes loading-icon {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    30% {
        transform: translateY(5px);
        animation-timing-function: ease-out;
    }
    50% {
        rotate: 180deg;
        transform: translatex(-5px);

        /* animation-timing-function: ease-out; */
    }
    100% {
        transform: translatex(0px);
        transform: translatey(0px);

        animation-timing-function: ease-out;
    }
}

.loading-icon-animate {
    animation: loading-icon 1.5s infinite;
}











.loader {
    position: relative;
}

.dots {
    display: inline-block;
    position: relative;
    font-weight: bold;
    animation: blinkDots 1.5s steps(3) infinite;
}

.dots::after {
    content: "";
    position: absolute;
    animation: blinkDots 1.5s steps(3) infinite;
    bottom: -5px;
    left: 5px;
}

@keyframes blinkDots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
